@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" );
*{
    box-sizing: border-box;
}
body{
    background-image: url("christmas.jpeg");
    background-size: cover;
    background-position: center center;
    min-height:100vh;
    margin:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
h1{
    font-size: 50px;
    font-weight:bolder;
}
.countdown_container
{
    display:flex;
}
.big-text{
    font-size: 30px;
    margin :  15px 20px;
    font-weight:bolder;

}
.countdown{
    text-align: center;
}
.countdown span{
    font-size: 1.3rem;
}